<!-- Include KaTeX CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-o4z4Y5f6nqU9O+EDzzM6HT3C+r4Yndz1g1whGRZf/UtxYH5T+Lz7MJkPTrVa9y+K" crossorigin="anonymous">

<!-- Include KaTeX auto-render extension -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-Kbs7xxY1RgI7j0UTLKgHiI/RTtdGOGwrvU5UihF8MF0E4uTw1I3l/6PlgJnu8fL1" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQN31XBk9sDBY6gxPr5ZKXu54fzbdwflC9Ct3ZT9TzYXpmuvZDR+sjvTgG8" crossorigin="anonymous"
    onload="renderMathInElement(document.body, {delimiters: [{left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false}]});">
</script>
